.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.details img{
    height: 640px;
}

.details .info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.details .info ul{
    list-style: none;
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
}

.details .info .payment_message{
    align-self: flex-end;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 1500px;
    margin-bottom: 50px;
    padding: 0 20px;
}

.description h3,
.description h4{
    font-weight: bold;
    margin: 30px 0 10px;
}

.description h3{
    font-size: 2.2rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.description h4{
    font-size: 2.5rem;
}

.description ul{
    list-style: none;
    margin: 0;
}

.description ul div{
    margin: 40px 0;
}

.description ul li{
    font-weight: bold;
    font-size: 1.3rem;
}

.description p{
    line-height: 1.7rem;
    font-size: 1.2rem;
    margin: 5px 0;
}

button,
h1{
    margin: 20px;
}

h1, h2{
    color: #dd725f;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1600px){
    .details img{
        height: 350px;
    }

    .description h4{
        font-size: 2rem;
        text-align: center;
    }
}

@media only screen and (max-width: 1100px){
    .details{
        margin-top: 30px;
        flex-direction: column;
    }

    .description ul{
        padding: 0;
    }
}

@media only screen and (max-width: 700px){
    .details img{
        height: 200px;
    }

    .details .info ul,
    .description p,
    .container button{
        font-size: 1rem;
    }

    h1, h2{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 400px){
    .details img{
        height: 150px;
    }

    .description{
        padding: 0 10px;
    }

    h1, h2,
    .description h3,
    .description h4{
        font-size: 1.3rem;
    }

    .details .info ul{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 300px){
    .description h4{
        font-size: .9rem;
    }

    .details{
        padding: 0 10px;
    }
}