.container h1, .container h2{
    margin-bottom: 10px;
    font-size: 2.3rem;
}

.container{
    width: 100%;
    min-height: calc(100vh - 215px)
}

.container .costumer_data{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
}

.container .form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container .form .button{
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container .form .localization_inputs{
    display: flex;
}

.container .form .localization_inputs .state_input{
    width: 30%;
    margin-left: 10px;
}

.cart_info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart_info .info_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.cart_info .aircraft_image img{
    max-width: 200px;
    margin-right: 20px;
}

.cart_info .description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.cart_info .description div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart_info .final_price{
    font-weight: bold;
    font-size: 1.2rem;
    color: #91ff91;
}

@media only screen and (max-width: 1400px){
    .cart_info .description{
        font-size: 1rem;
    }

    .cart_info .aircraft_image img{
        max-width: 150px;
    }
}

@media only screen and (max-width: 1100px){
    .cart_info{
        width: 50%;
    }

    .container h2{
        font-size: 1.8rem;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 900px){
    .container .costumer_data{
        flex-direction: column-reverse;
        align-items: center;
    }

    .container .form,
    .cart_info{
        width: 80%;
    }
}

@media only screen and (max-width: 550px){
    .cart_info .info_container{
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }
    
    .cart_info .aircraft_image img{
        max-width: 100%;
        margin-right: unset;
    }

    .cart_info .description div span{
        margin-bottom: 10px;
    }

    .cart_info .description div span,
    .container button,
    .container label span{
        font-size: .9rem;
    }

    .container h1{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 350px){
    .cart_info .info_container{
        max-width: 270px;
    }
}
