.buy_page{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 212px);
}

.buy_page h1{
    font-size: 3em;
}

.buy_page p{
    font-size: 1.5em;
    margin-bottom: 50px;
}

.buy_page .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .companies{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 200px;
}

.container .image img{
    width: 700px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1300px){
    .container .image img{
        width: 400px;
    }
}

@media only screen and (max-width: 1000px){
    .container .companies{
        margin-right: 50px;
    }

    .buy_page h1{
        font-size: 2em;
    }
}

@media only screen and (max-width: 700px){
    .container .companies{
        flex-direction: row;
        margin: 0;
    }

    .buy_page .container{
        flex-direction: column;
    }

    .buy_page button{
        margin: 10px !important;
        margin-bottom: 30px !important;
    }

    .buy_page h1{
        font-size: 1.5em;
    }

    .buy_page p{
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px){
    .container .image img{
        width: 400px;
    }
}

@media only screen and (max-width: 450px){
    .container .image img{
        width: 250px;
    }

    .container .companies{
        flex-direction: column;
    }

    .buy_page .container{
        flex-direction: column-reverse;
    }
}