.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end;
}

.fleet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 500px){
    .fleet h1{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 370px){
    .fleet h1{
        font-size: 1.4rem;
    }
}