.data_container{
    text-align: left;
    display: flex;
    width: 100%;
    font-size: 1.2em;
    margin-top: 20px;
}

.data{
    margin-right: 5px;
    font-weight: bold;
}

.value{
    max-height: 120px;
    overflow: overlay;
}

.center{
    text-align: center;
}

.type{
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
}

@media only screen and (max-width: 800px){
    .type{
        font-size: 1em;
    }
}

@media only screen and (max-width: 400px){
    .data_container{
        flex-direction: column !important;
        font-size: 1rem;
    }
}